/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://static.vecteezy.com/system/resources/previews/011/091/540/non_2x/seo-concepts-optimization-analysis-tools-search-engine-rankings-social-media-sites-based-on-results-analysis-data-customers-use-keywords-to-connect-products-wooden-blocks-on-the-table-free-photo.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

*/
input[type=text]{
    border: 2px solid black;
    border-radius: 4px;
    width: 30%;
    padding:8px 16px;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

body {
        text-align: center;
        background: url('https://media.licdn.com/dms/image/C5612AQFRQD9MqgmqQA/article-cover_image-shrink_720_1280/0/1601644545662?e=2147483647&v=beta&t=gBN15-bq6X4EEZtrD7nGP3j64hpD7tH2RSNLCldej-g') no-repeat center center fixed;
        background-size: cover;
    }

    .resultTable {
        display: inline-block;
        margin: auto;
    }


/*https://media.licdn.com/dms/image/C5612AQFRQD9MqgmqQA/article-cover_image-shrink_720_1280/0/1601644545662?e=2147483647&v=beta&t=gBN15-bq6X4EEZtrD7nGP3j64hpD7tH2RSNLCldej-g